<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.7b">
    <id>br.com.rrpg.Ficha_Naruto_Destiny</id>
    <version>1.3</version>
    <info lang="pt-BR">
        <name>Ficha Naruto Destiny</name>
        <description>Ficha de personagem para Naruto Destiny.</description>
        <author>Aaron</author>
        <site/>
        <contact/>
    </info>
    
</module>
